body{
	display: grid;
}

.container{
	width:100%;
}

.row:before, .row:after {
	content:"";
	display: table;
	clear:both;
}
	
.row{
	padding: 1em 1em;
	min-width: 640px;
}
	
.left-box{
	background-color: white;
    height: 400px;
    width: 200px;
	float: left;
	min-height: 1px;
	position: relative;
	transform: translateY(-50%);
	top: 16em;
    margin-right: 20px;
}

.center-box{
	background-color: white;
    height: 500px;
    min-width: 200px;
	min-height: 1px;
    margin-top: 20px;
    margin-bottom: 20px;
	overflow-x: hidden;
}

.right-box{
	background-color: white;
    height: 300px;
    width: 200px;
	float: right;
	min-height: 1px;
	position: relative;
	transform: translateY(-50%);
	top: 16em;
	margin-left: 20px;
}

.right-box-content{
	padding: 1em 1em;
}

.field{
	margin-top: 0.3em;
    margin-bottom: 0.7em;
}

.submit-button {
	background-color:#3369A9;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
	border:1em;
}

.submit-button:hover {
	background-color:#0088D4;
}
.submit-button:active {
    position: relative;
    background-color: #2D506D;
    color: grey;
}

.nav-bar{
	margin-right: 1em;
}
.nav-bar li{
	list-style:none;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	font-size: 1.1em;
	color:#3369A9;
}

.nav-bar a{
	text-decoration: none;
	color:#3369A9;
	margin-right: 1em;
}

.nav-bar a:hover{
	text-decoration: underline;
	color:blue;
}

.active{
	font-weight:900;
	font-size: larger;
}

.table-data {
    margin-bottom: 15px;
	border-spacing: 0em;
	width:100%;
}

    .table-data tr:nth-child(even) {
        background-color: #F5F5F5;
    }

    .table-data tr:nth-child(odd) {
        background-color: white;
    }

    .table-data th {
        background-color: lightgrey;
    }

    .table-data label {
        color: black !important;
        cursor: default !important;
    }

	.table-data tr:hover td 
	{
		background:lightgrey
	}
	
.table-data {
    margin: 0px !important;
}

.table-data input, .table-data select {
    margin: 0px !important;
}


.table-data td, .table-data th {
  padding: 6px;
  padding-top: 1.2em;
  padding-bottom: 1.2em;
  text-align: left;
  line-height: 1.2em;
  border: none;
}

.selected{
	background-color:grey !important;
}